ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.back {
    margin: 0;
    padding: 10px 0;
    background-color: #eee;
}

.scheduler {    
    table-layout: fixed;
    width: 100%;
    overflow: auto;
}

td {
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

/* Month header */
.month {
    padding: 50px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 0px 0;
    background-color: #ddd;
}

/* Days (1-31) */
.days {
    padding: 0px 0;
    background: #eee;
    margin: 0;
}

hr {
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

title {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a.link {
    display: block;
    position: relative;
    z-index: 1;
    padding: 1.3em;
    width: 100%;
}

a:hover {
    background-color: #ccc;
}

a.button {
    font-size: 30px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 10px 20px;
    margin: 0px 100px;
}

.buttons{
    font-size: 20px;
    padding: 50px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}